.idea/**
django_backend/.env
db/.env
venvs
testapp/migrations/*
testapp/__pycache__/*
user/__pycache__/*
user/migrations/*
channel/__pycache__/*
channel/migrations/*
post/__pycache__/*
post/migrations/*
django_backend/__pycache__/*
testapp/__pycache__/
.DS_Store
channel/.env
celerybeat-schedule